REDIS_PASSWORD=SET-A-REDIS-PASSWORD
REDIS_EXPIRY_TIME=1

# POSTGRE
POSTGRES_USER=SET-A-USERNAME
POSTGRES_PASSWORD=SET-A-PASSWORD
POSTGRES_DB=SET-A-DB-NAME

# JWT
JWT_ISSUER=TaskInsightEngineApi
JWT_AUDIENCE=TaskInsightEngineUsers
JWT_SECRET=super_long_secret_key_minimum_32_chars
JWT_EXPIRY_MINUTES=60

# AUTHENTICATION COOKIES
ACCESS_TOKEN_MINUTES=1
REFRESH_TOKEN_DAYS=1

# API LOG 
LOG_TABLE_NAME=logs
LOG_FILE_PATH=/logs/taskinsightengine/log-.txt